*.bak
*.swp
*.tmp
CVS
RCS
app
dbEnv
devel
docs
jobs
public
temp
pwsafe.key
sandbox
sql
svn
tmp
tnsnames.ora
windows
www
.bash_history
.bash_logout
.bash_profile
.cvspass
.dbvis
.exrc
.gnupg
.history
.lesshst
.logout
.mysql_history
.ncftp
.screenrc
.snapshot
.ssh
.subversion
.tcshrc.d
.viminfo*
apache-ant*
.Xauthority
