*.bak
*.swp
*.tmp
*.cron
CVS
RCS
app
dbEnv
devel
docs
jobs
public
temp
pwsafe.key
sandbox
sql
svn
tmp
tnsnames.ora
windows
www
.bash_history
.bash_logout
.bash_profile
.cvspass
.dbvis
.exrc
.gnupg
.history
.lesshst
.logout
.mysql_history
.ncftp
.screenrc
.snapshot
.ssh
.subversion
.tcshrc.d
.viminfo*
apache-ant*
.Xauthority
.irssi
.m2
bin/apache-maven-3.2.2
head
oradiag_msoliman
*.gz
.amu
.android
.blurb
3D\ Objects
AppData
Contacts
Creative\ Cloud\ Files
Desktop
Documents
Downloads
Favorites
Lightroom\ Settings
Links
Logitech
Music
NTUSER.DAT
NTUSER.DAT{c694eca4-3784-11e7-9cc0-a94d7dd70582}.TM.blf
NTUSER.DAT{c694eca4-3784-11e7-9cc0-a94d7dd70582}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{c694eca4-3784-11e7-9cc0-a94d7dd70582}.TMContainer00000000000000000002.regtrans-ms
OneDrive
Pictures
Saved\ Games
Searches
Sti_Trace.log
Tracing
Valley
Videos
ntuser*
.IdeaIC11
.MakeMKV
_viminfo
